<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">

	<listeners>

		<listener class-name="com.qafox.extentreport.ExtentListener"></listener>
	</listeners>
	
	<test thread-count="5" name="Test">
		<classes>

			<class name="com.qafox.testscript.LoginPageTest" />
			<class name="com.qafox.testscript.HomePageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
